<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cawabanga.com.tnb_examples" >

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddAndSubLayoutActivity"
            android:label="AddAndSubLayout"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GravityLayoutActivity"
            android:label="GravityLayout"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BgMusicLayoutActivity"
            android:label="BgMusicLayout">
            <intent-filter>
                <action android:name="cawabanga.com.tnb_examples.BGMUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VisibilityLayoutActivity"
            android:label="VisibilityLayout"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Menu"
            android:label="Menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cawabanga.com.tnb_examples.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TextActivity"
            android:label="Menu"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Email"
            android:label="Email"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Camera"
            android:label="Camera"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Data"
            android:label="Data"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".OpenedClass"
            android:label="OpenedClass"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AboutUs"
            android:theme="@android:style/Theme.Dialog"
            android:label="AboutUs"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cawabanga.com.tnb_examples.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Prefs"
            android:label="Prefs"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cawabanga.com.tnb_examples.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".GFX"
            android:label="GFX"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GFXSurface"
            android:label="GFXSurface"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SoundStuff"
            android:label="SoundStuff"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Slider"
            android:label="Slider"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Tabs"
            android:label="Tabs"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SimpleBrowser"
            android:label="SimpleBrowser"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SharedPrefs"
            android:label="SharedPrefs"
            android:screenOrientation="portrait">
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
